{% extends 'hospital/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <!-- <h1 class="display-4" style="text-align:center;">He</h1> -->
  <p class="lead"  style="text-align:center;">Welcome to Login webpage.</p>
  <hr class="my-4"  style="text-align:center;">
  <p  style="text-align:center;">You can access various features after Login/SignUp.</p>
  <p class="lead" style="text-align:center;">
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button"  style="text-align:center;">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button"  style="text-align:center;">Login</a>
  </p>
</div>

{% endblock content %}
