{% extends 'hospital/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello,Doctor</h1>
  <p class="lead" style="text-align:center;">Welcome to Doctor Regristration.</p>
  <hr class="my-4" style="text-align:center;">
  <p style="text-align:center;">You can Login/SignUp.</p>
  <p class="lead" style="text-align:center;">
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button" style="text-align:center;">Apply</a>
    <a class="btn btn-primary btn-lg" href="/doctorlogin" role="button" style="text-align:center;">Login</a>
  </p>
</div>

{% endblock content %}
